@{
    ViewBag.Title = "Failure";
}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, CSS Website Layout</title>
<meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
<link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
     @*<link href="~/content/fancybox.css" rel="stylesheet" type="text/css" media="screen"/>*@
         @*<script type="text/javascript" src="~/Scripts/jQuery.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/jquery-fancybox.js"></script>*@
        @*<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />*@
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/fancyBox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="~/fancyBox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="~/fancyBox/jquery.fancybox-1.3.4.css" media="screen" />
 	<link rel="stylesheet" href="~/fancyBox/style.css" />

<script type="text/javascript" src="~/fancyBox/jquery.fancybox-1.3.4.pack.js"></script>
</head>
<body>
    <script type="text/javascript">
       
            $(".fancybox").fancybox();
        $("a.group").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });
        $("a#example1").fancybox();
        
</script>
        
        <div id="templatemo_content_right">
        
       <h1>Wrong User name and password</h1>
            @*<a id="example1" class="fancybox" href="~/fancyBox/1_b.jpg"><img alt="example1" src="~/fancyBox/1_s.jpg" /></a>*@
            
         @* <a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
	<img src="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_m.jpg" alt="" />*@

    </div> <!-- end of content -->
    
    </body>
    
</html>
